* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(0, 90, 12);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 50vh; */
  padding: 0.5em;
}

.teams {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em 2em;
  padding: 2em;
  gap: 2em;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5em 2em;
  margin-bottom: 0;
  padding: 0.5em;
  color: wheat;
  font-size: 2rem;
  gap: 1em;
}

.team_flag {
  width: 15rem;
}

#time {
  margin: 0 2em 2em 2em;
  padding: 1em;
  align-items: center;
  justify-content: center;
  background-color: wheat;
  font-size: 20px;
}

#comments {
  padding: 1em;
  align-items: center;
  justify-content: center;
  background-color: wheat;
  font-size: 20px;
}
